<%- include('../../main/partials/nav') %>

<div class="nav1">
  <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
    <div class="navbar-brand">게임 만들기</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="/game/home" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/game/home/about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/game/tetris" class="nav-link">Tetris</a></li>
      </ul>
    </div>
  </nav>
</div>