<!DOCTYPE html>
<html>

<head>
  <%- include('../../head') %>
</head>

<body>
  <%- include('../../nav') %>
    <div id="div_section">
      <div class="tb">
        <h2 class="mb-3">About</h2>

        <P>이 사이트는 <a href="https://www.youtube.com/watch?v=1lNy2mhvLFk&t=286s">추억의 게임! 테트리스 HTML, Javascript로 만들기</a>에서
          작성되었습니다!</p>
      </div>
    </div>
</body>

</html>