<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="body1">
      <div class="jumbotron">
        <h1>게임 만들기</h1>
        <P>제 웹사이트를 방문해 주셔서 감사합니다!</p>
      </div>

    </div>
  </body>
</html>
