<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>

        <div class="body1">

            <h2 class="mb-3">About</h2>

            <P>참고<a href="https://www.youtube.com/watch?v=dWfpp-0riYA">로그인 페이지 만들기 실무편 | Animated Login page Tutorial
                    (Label Text Animation)</a>에서 작성되었습니다!</p>
            <P>참고<a href="https://nh0404.tistory.com/78">[html/css] 대시보드 좌측 사이드 메뉴 기본 포멧</p>

            <P>참고<a href="https://morningbird.tistory.com/61">[Node.js API 개발] 로그인 상태 유지 & 자동 로그인</p>

            <P>참고<a href="https://velog.io/@neity16/NodeJS-JWT-Token-%EC%82%AC%EC%9A%A9%ED%95%98%EA%B8%B0">NodeJS - JWT
                    Token 사용하기</p>

        </div>
</body>

</html>