<!DOCTYPE html>
<html>

<head>
  <%- include('../../head') %>
</head>

<body>
  <%- include('../../nav') %>

    <div id="div_section">
      <div class="tb">
        <h2 class="mb-3">About</h2>

        <P>이 사이트는 <a
            href="http://a-mean-blog.com/ko/blog/Node-JS-첫걸음/게시판-만들기">http://a-mean-blog.com/ko/blog/Node-JS-첫걸음/게시판-만들기</a>에서
          작성되었습니다!</p>

      </div>
    </div>
</body>

</html>