<!DOCTYPE html>
<html>

<head>
  <%- include('../../head') %>
</head>

<body>
  <%- include('../../nav') %>
    <div id="div_section">
      <div class="tb">
        <h2>채팅서버 만들기</h2>
        <P>제 웹사이트를 방문해 주셔서 감사합니다!</p>
      </div>
    </div>

</body>

</html>