<div id="wrapper">
    <div class="topbar" style="position: absolute; top:0;">
        <div class="left side-menu">
            <div class="sidebar-inner">
                <div id="sidebar-menu">
                    <ul>
                        <li class="has_sub"><a href="javascript:void(0);" class="waves-effect">
                                <i class="fas fa-bars"></i>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="left_sub_menu">
            <div class="sub_menu">
                <input type="search" name="SEARCH" placeholder="작동안함">
                <h2 id="username">TITLE</h2>
                <ul class="big_menu">
                    <li>게시판 만들기<i class="arrow fas fa-angle-right"></i></li>
                    <ul class="small_menu">
                        <li><a href="/board/home">home</a></li>
                        <li><a href="/board/home/about">about</a></li>
                        <li><a href="/board/posts">board</a></li>
                    </ul>
                </ul>
                <ul class="big_menu">
                    <li>게임 만들기<i class="arrow fas fa-angle-right"></i></li>
                    <ul class="small_menu">
                        <li><a href="/game/home">home</a></li>
                        <li><a href="/game/home/about">about</a></li>
                        <li><a href="/game/tetris">Tetris</a></li>
                    </ul>
                </ul>
                <ul class="big_menu">
                    <li>채팅서버 만들기<i class="arrow fas fa-angle-right"></i></li>
                    <ul class="small_menu">
                        <li><a href="/chat/home">home</a></li>
                        <li><a href="/chat/home/about">about</a></li>
                        <li><a href="/chat/sock">Chat</a></li>
                    </ul>

                </ul>
                </ul>
                <ul class="big_menu">
                    <li>MYPAGE</li>
                </ul>
            </div>
        </div>

    </div>
</div>