<div id="div_header">
    <div class="headbar">
        <div class="head_img">
            <img href="#" src="../../img/web2.jpg" width="150" height="50" style="cursor:pointer;" onclick="logoClick()">
        </div>
    </div>
</div>
<div id="div_aside">
    <div class="side_menu">
        <input type="search" name="SEARCH" placeholder="작동안함">
        <h2 id="side_user">TITLE</h2>
        <ul class="big_menu">
            <li>게시판 만들기<i class="arrow fas fa-angle-right"></i></li>
            <ul class="small_menu">
                <li><a href="/board/home">home</a></li>
                <li><a href="/board/home/about">about</a></li>
                <li><a href="/board/posts">board</a></li>
            </ul>
        </ul>
        <ul class="big_menu">
            <li>게임 만들기<i class="arrow fas fa-angle-right"></i></li>
            <ul class="small_menu">
                <li><a href="/game/home">home</a></li>
                <li><a href="/game/home/about">about</a></li>
                <li><a href="/game/tetris">tetris</a></li>
            </ul>
        </ul>
        <ul class="big_menu">
            <li>채팅서버 만들기<i class="arrow fas fa-angle-right"></i></li>
            <ul class="small_menu">
                <li><a href="/chat/home">home</a></li>
                <li><a href="/chat/home/about">about</a></li>
                <li><a href="/chat/sock">chat</a></li>
            </ul>
    
        </ul>
        </ul>
        <ul class="big_menu">
            <li>MYPAGE</li>
            <ul class="small_menu">
                <li><a href="/main/home">home</a></li>
                <li><a href="/main/home/about">about</a></li>
                <li><a href="/main/login">logout</a></li>
            </ul>
        </ul>
    </div>
</div>