<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="body1">

      <h2 class="mb-3">Tetris</h2>
      <div>
        <a class="btn btn-primary" href="/game/tetris/play">Start</a>
      </div>

    </div>
  </body>
</html>
