/* Fix user-agent */

* {
    box-sizing: border-box;
}


ul {
    list-style: none;
    word-wrap: break-word;
}

/* Pages */

.pages {
    width: 100%;
    height: 800px;
    margin: 0;
    padding: 0;
    position: relative;
}
.page {
    position: absolute;
    height: 100%;
    width: 100%;
}
/* Room Page */
.room.page {
    z-index: 5;
    background-color: #000;
}
.room.page .form {
    margin-top: 25%;
    text-align: center;
    /* top: 25%; */
}
.room.page .title {
    font-size: 200%;
}
.room.page .form .room_list {
    padding: 0;
    text-align: center;
    overflow-y: scroll;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    height: 100px;
    width: 200px;
}
.room.page .form .room_list .room_name {
    background-color: transparent;
    border: none;
    outline: none;
    display: table;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    /*padding: 10px 5px 10px 5px;*/
}
.room.page .room_name {
    font-size: 100%;
    letter-spacing: 3px;
    color: #000;
    font-weight: 100;
}
.room.page .form .userroomInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 50%;
}

.room.page .title, .room.page .userroomInput {
    color: #fff;
    font-weight: 100;
}
/* .room.page .rooms {
    height: 100px;
    margin-top: -100px;

    text-align: center;
    top: 25%;
    width: 100%;
}
.room.page .userroomInput {
    font-size: 200%;
    letter-spacing: 3px;
} */


/* error page */
.error.page {
    z-index: 1;
    background-color: #000;
}

.error.page .error {
    text-align: center;
    color: #fff;
    font-weight: 100;
    font-size: 200%;
}


/* Font */
.messages {
    font-size: 150%;
}

.inputMessage {
    font-size: 100%;
}

.log {
    color: gray;
    font-size: 70%;
    margin: 5px;
    text-align: center;
}

/* Messages */

.messages {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
    color: gray;
}

.username {
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
}
/* Chat page */
.chat.page {
    z-index: 3;
    background-color: #fff;
}
.chatArea {
    height: 100%;
    padding-bottom: 60px;
}
.chatArea .userlist {
    outline: black;
    padding: 0;
    text-align: center;
    overflow-y: scroll;
    background-color: #fff;
    margin-top: 10px;
    margin-left: auto;

    height: 100px;
    width: 210px;
}
.chatArea .userlist .users {
    background-color: transparent;
    border: none;
    outline: none;
    display: table;
    list-style: none;
    /* padding: 10px 5px 10px 5px; */
    font-size: 100%;
    letter-spacing: 3px;
    color: #000;
    font-weight: 100;
    margin-left: auto;
    margin-right: auto;
}

/* Input */

.inputMessage {
    border: 10px solid #000;
    bottom: 0;
    height: 60px;
    left: 0;
    outline: none;
    padding-left: 10px;
    position: absolute;
    right: 0;
    width: 100%;
}

